<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>专家灼见</title>
    <script th:src="@{~/common/myJs.jsp}"></script>
</head>
<body>
<div>

    <center>
        <button type="button" class="btn btn-default btn-lg">大咖在线</button>
        <button type="button" class="btn btn-default btn-lg">大家观点</button>
        <button type="button" class="btn btn-default btn-lg">大会直播</button>
    </center>

</div>
<div class="Sbox">
</div>
</body>
<script>
    $(function(){
        querySpeciaListToHtml()
    })

    function querySpeciaListToHtml(){
        $.ajax({
            url:'/cspecialist/queryCSpecialist',
            success:function (result) {
                var html="";
                for (var i = 0; i < result.length; i++) {
                    html+="<div class='list' style='width:100%;height:180px;background: oldlace'>"
                    html+="<div class='img'  style='width:180px;height:180px;float:left'><img width='130' height='150'  src="+result[i].img+" ></div>"
                    html+="<div  style='float:left'><h4>"+ result[i].title +"</h4></div><br/><br/>"
                    html+="<div  style='float:left' >" + result[i].name + "&nbsp;-&nbsp;" + result[i].position + " </div><br/><br/>"
                    html+="<div  style='float:left'>" + result[i].address + "</div><br/><br/>"
                    html+="<div  style='float:left'>" + result[i].look + "人观看&nbsp;&nbsp;&nbsp;&nbsp;获得"+ result[i].medal +"奖章"+"</div><br/>"
                    html+="</div><br/>"
                }
                $(".Sbox").html(html)
            }
        })
    }
    function getDetails(id){
        location.href="/cspecialist/cSpecialistDetails?id="+id;
    }
</script>
</html>