<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>大家观点</title>
    <link rel="stylesheet" href="../js/start/css/star-rating.css">
    <script th:src="@{~/common/myJs.jsp}"></script>
    <script src="../js/start/js/star-rating.js"></script>

</head>
<body>
<div class="container">
    <div id="top" style="background-color: lightgoldenrodyellow;width: 100%; height: 50px;" >
        <div style="float: left;margin-top: 2px;margin-left: 10px;">
            <h4>
                <a class="navbar-brand" href="javascript:history.go(-1);">返回</a>
                <!--<a href="/toPage?viewName=cspeciaList">返回</a>--></h4>
        </div>
        <div align="center">
            <h2>大家观点</h2>
        </div>
    </div><br/>
    <div class="Sbox">

    </div>

    <div>
        <h3>写留言</h3><br/>
        <div class="form-group">
            <textarea class="form-control" rows="3" id="message" placeholder="我要留言"></textarea>
        </div>
        <div>
            <font color="#00bfff" size="3">送勋章</font>&nbsp;&nbsp;&nbsp;
            <input id="input-21e" value="0" type="text" class="rating" data-min=0 data-max=5 data-step=1 data-size="xs" title="">
            <hr>
        </div>
        <div style="margin-left: 80%">
            <button type="button" onclick="getMessage()" class="btn btn-info">提交留言</button>
        </div>
    </div>
    <hr>
    <div class="Comment">

    </div>
</div>
</body>

<script>
    $(function () {
        getDetailToHtml();
        getCommentToHtml();
        getUserCommentById();
    })
    var id = [[${param.id}]]

    function getDetailToHtml() {
        $.ajax({
            url: "/cspecialist/getDetailById",
            type: "post",
            data: {id: id},
            success: function (result) {
                var html = "";
                html += "<div class='list'>"
                html += "<div  style='float:left'><h4>" + result.title + "</h4></div><br/><br/>"
                html += "<div  style='float:left'>" + result.creatTime + "&nbsp;&nbsp;&nbsp;&nbsp;" + result.look + "次观看" + "</div><br/><br/>"
                html += "<div  style='float:left'><h4 style='color:#00bbee'>观点</h4>" + result.viewpoint + " </div><br/><br/><br/>"
                html += "<div class='img'><img width='300' height='150'  src=" + result.img + " ></div><br/><br/>"
                html += "<div style='float:left;width: 800px' ><h4 style='color:#00bbee'>详情</h4>" + result.details + " </div><br/>"
                html += "</div><br/><br/><br/><br/><br/><br/><br/>"
                $(".Sbox").html(html)
            },
            error: function () {
                alert("出错了!!!!");
            }
        })
    }
    function getMessage(){
        var message = $("#message").val();
        var star = $("#input-21e").val();
        if (message.length>0){
            $.ajax({
                url: "/cspecialist/addComment",
                type: "post",
                data: {message: message,star:star,specialistId:id},
                success: function (result) {
                    if (result ==1){
                        layer.alert('留言成功', {icon: 6});
                    }else if(result ==0){
                        layer.alert('您已留言过了');
                    }else{
                        alert('登陆后才能评论');
                        location.href="/tologin"
                    }
                },

            error: function () {
                    alert("出错了!!!!");
                }
            })
        } else{
            layer.msg("请填写留言")
        }
    }

    function getCommentToHtml() {
        $.ajax({
            url: "/cspecialist/getCommentById",
            type: "post",
            data: {specialistId: id},
            success: function (result) {
                console.log(result);
                var html="";
                for (var i = 0; i < result.length; i++) {
                    html+="<div class='list' style='width:100%;height:60px;'>"
                    html+="<div class='img'  style='width:50px;height:50px;float:left'><img width='50' height='50'  src="+result[i].photo+" ></div>"
                    html+="<div  style='float:left'>&nbsp;&nbsp;"+ result[i].userName +":"+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;评论"+result[i].star+"个☀"+"</div><br/>"
                    html+="<div  style='float:left'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + result[i].message + "</div><br/><br/>"
                    html+="</div><br/>"
                }
                $(".Comment").html(html)
            },
            error: function () {
                alert("出错了!!!!");
            }
        })
    }

    function getUserCommentById() {
        $.ajax({
            url: "/cspecialist/getUserCommentById",
            type: "post",
            data: {specialistId: id},
            success: function (result) {
                if (result != null && result!="" ){
                   $('.filled-stars').css('width',result.star*20+'%')
                }
                //alert($("#input-21e").val());
            },
            error: function () {
                alert("出错了!!!!");
            }
        })

    }
</script>
</html>