<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>前台页面</title>
    <script th:src="@{~/common/myJs.jsp}"></script>

    <link rel="stylesheet" href="/js/reset/css/reset.css">


</head>
<body>

<div>
    <div><a href="/hotPointYjm/toHostPoint" onclick="queryHotPoint()">热点资讯</a></div>

    <div><a href="">专家灼见</a></div>
    <div><a href="javascript('0')">病例荟萃</a></div>
    <div><a href="javascript('0')">实用工具</a></div>
    <div><a href="javascript('0')">专家团队</a></div>

</div>

 <script type="application/javascript">



 </script>

</body>
</html>