<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{~/common/myJs.jsp}"></script>

    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=39b92e64ae5622663ceceaccd8ab8eb1"></script>

    <input type="hidden" name="id" th:value="${id}"/>
</head>
<body>
    <div class="max"></div>
</body>
<script type="text/javascript">
    $(function () {
        condition(id);

        showErWei();

      //  getProviderAndCity();
    })
    var id=$("[name='id']").val();
    function condition(id) {
        $.ajax({
            url:'/queryCondition?id='+id,
            type:'post',
            success:function (result) {

                var html = "";
                for (var i = 0; i<result.length; i++){

                    var id = result[i].id;
                    html+="<div id=\"top\" style=\"background-color: lightgoldenrodyellow;width: 100%; height: 50px;\" ><div onclick='fanhui()' style=\"float: left;margin-top: 2px;margin-left: 10px;\"><h4>返回</h4></div><div align=\"center\"><h2>"+result[i].maxTitle+"</h2></div></div>"
                    html+="<div id=\"center\" style=\"width: 100%\">"
                    html+="<div style=\"margin-left: 100px;\"><h1 id='mintitle'>"+result[i].minTitle+"</h1><p style='margin-left: 1%' id='resultMapIds'></p><p style=\"float: right;margin-right: 5%\">扫一扫</p> <img style=\"float: right;margin-right: 2%\" id=\"ErWei\" style=\"font-family:Microsoft YaHei;\"></img></div>"
                    html+="<video controls loop  name=\"media\" align=\"center\" style=\"width: 99%;height: 350px;margin-left: 5px;\"><source preload=\"metadata\" src='"+result[i].videoPath+"' type=\"video/mp4\"></video>"
                    html+="<div style=\"width: 99.5%\"><span><h4>"+result[i].details+"</h4></span></div>"
                    html+= "<div style=\"margin-top: 10px;width: 100px;height:100px;float: left\"><b><h4><button type=\"button\" class=\"btn btn-primary\" onclick='derive("+result[i].id+")'>导出文章</button></h4></b></div>"
                    html+="</div>"
                    html+="<div id=\"bottom\" style=\"background-color: #bf7f78;width: 100%; height: 120px;margin-top: 10px;position:fixed;bottom: 0px;\">" +
                        "<div onclick='tolinchuangwenxian()' style='width: 150px;line-height: 35px;float: left;margin-left: 150px;'><img style='width: 95px;height: 50px;' src='/lxb/images/timg.jpg'/><span><h3>临床文献</h3></span></div>" +
                        "<div style='width: 150px;line-height: 35px;float: left;margin-left: 150px;'><img style='width: 95px;height: 50px;' src='/lxb/images/timg.jpg'/><span><h3>专家灼见</h3></span></div>" +
                        "<div style='width: 150px;line-height: 35px;float: left;margin-left: 150px;'><img style='width: 95px;height: 50px;' src='/lxb/images/timg.jpg'/><span><h3>病例荟萃</h3></span></div>" +
                        "<div onclick='gohouse("+id+")' style='width: 150px;line-height: 35px;float: left;margin-left: 150px;'><img style='width: 95px;height: 50px;' src='/lxb/images/timg.jpg'/><span><h3>收藏</h3></span></div>"
                        "</div>"

                    getProviderAndCity(result[i].pointxs,result[i].pointys);
                 }
                $(".max").html(html)
            }
        })
    }
    //把经纬度转化成 具体地址
function getProviderAndCity(pointxs,pointys){
    var gc = new BMap.Geocoder();
    var pointAdd = new BMap.Point(pointxs, pointys);

    gc.getLocation(pointAdd, function(rs){ // 百度地图解析城市名

        $('#resultMapIds').html("<span class='glyphicon glyphicon-map-marker' style='color: #ce8483'></span>&nbsp;&nbsp;"+rs.address); //或者其他信息 console.log(rs);
    })

}


    //加载二维码
    function showErWei() {
        $("#ErWei").show();
        var data=this.location.href;
        // var data="http://192.168.1.177:8082/hotPointYjm/toHotPointMore?id=1";
        $.ajax({
            url:"/code/getCode",
            type:"post",
            data:{data:data},
            success:function (result) {
                $("#ErWei").attr("src","data:image/jpg;base64,"+result)
            }
        })
    }

    function tolinchuangwenxian(){
        location.href="/tolinchuangwenxian?id="+id;
    }
    function fanhui() {
        location.href="/toIndex";
    }
    //将这条数据插入收藏表中
    function gohouse(id) {
        var mintitle = $("#mintitle").html();
        var id=$("[name='id']").val();
        location.href="/inserthouse?id="+id+"&mintitle="+mintitle;
        alert("收藏成功！");
    }
    //导出
    function derive(id){
      $.ajax({
        url:"/derive",
        type:"post",
        data:{id:id},
        success:function(data){
          alert(data);
        },
        error:function(){
          alert("失败了");
        }
      })
    }

</script>
</html>